--
-- PostgreSQL database dump
--

-- Dumped from database version 13.16 (Debian 13.16-1.pgdg120+1)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: root
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: landing_sales; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.landing_sales (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store integer,
    sale_date date,
    weekly_sales double precision
);


ALTER TABLE public.landing_sales OWNER TO root;

--
-- Name: metricflow_time_spine; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.metricflow_time_spine (
    date_day date
);


ALTER TABLE public.metricflow_time_spine OWNER TO root;

--
-- Name: monthly_store_sales; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.monthly_store_sales (
    store integer,
    sale_month timestamp with time zone,
    monthly_total_sales numeric,
    mom_growth_pct numeric
);


ALTER TABLE public.monthly_store_sales OWNER TO root;

--
-- Name: rolling_3mo_avg_per_store; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.rolling_3mo_avg_per_store AS
 WITH monthly AS (
         SELECT landing_sales.store,
            date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone) AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_total_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_total_sales,
    round((avg(monthly.monthly_total_sales) OVER (PARTITION BY monthly.store ORDER BY monthly.sale_month ROWS BETWEEN 2 PRECEDING AND CURRENT ROW))::numeric, 2) AS rolling_3m_avg
   FROM monthly
  ORDER BY monthly.store, monthly.sale_month;


ALTER VIEW public.rolling_3mo_avg_per_store OWNER TO root;

--
-- Name: store_contrib; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.store_contrib AS
 WITH monthly AS (
         SELECT landing_sales.store,
            date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone) AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_sales,
    round(((((100.0)::double precision * monthly.monthly_sales) / NULLIF(sum(monthly.monthly_sales) OVER (PARTITION BY monthly.sale_month), (0)::double precision)))::numeric, 2) AS contribution_pct
   FROM monthly
  ORDER BY monthly.sale_month, monthly.store;


ALTER VIEW public.store_contrib OWNER TO root;

--
-- Name: store_rank_mo_sales; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.store_rank_mo_sales AS
 WITH monthly AS (
         SELECT landing_sales.store,
            (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))::date AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, ((date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))::date)
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_sales,
    rank() OVER (PARTITION BY monthly.sale_month ORDER BY monthly.monthly_sales DESC) AS sales_rank
   FROM monthly;


ALTER VIEW public.store_rank_mo_sales OWNER TO root;

--
-- Name: trend_growth; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.trend_growth AS
 WITH monthly AS (
         SELECT landing_sales.store,
            (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))::date AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_total_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_total_sales,
    round(((((100.0)::double precision * (monthly.monthly_total_sales - lag(monthly.monthly_total_sales) OVER (PARTITION BY monthly.store ORDER BY monthly.sale_month))) / NULLIF(lag(monthly.monthly_total_sales) OVER (PARTITION BY monthly.store ORDER BY monthly.sale_month), (0)::double precision)))::numeric, 2) AS mom_growth_pct
   FROM monthly
  ORDER BY monthly.store, monthly.sale_month;


ALTER VIEW public.trend_growth OWNER TO root;

--
-- Name: year_over_year_growth; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.year_over_year_growth AS
 WITH monthly AS (
         SELECT landing_sales.store,
            date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone) AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_total_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_total_sales,
    round(((((100.0)::double precision * (monthly.monthly_total_sales - lag(monthly.monthly_total_sales, 12) OVER (PARTITION BY monthly.store ORDER BY monthly.sale_month))) / NULLIF(lag(monthly.monthly_total_sales, 12) OVER (PARTITION BY monthly.store ORDER BY monthly.sale_month), (0)::double precision)))::numeric, 2) AS yoy_growth_pct
   FROM monthly
  ORDER BY monthly.store, monthly.sale_month;


ALTER VIEW public.year_over_year_growth OWNER TO root;

--
-- Name: yearly_store_sales; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.yearly_store_sales (
    sale_year date,
    yearly_total_sales numeric,
    yoy_growth_pct numeric
);


ALTER TABLE public.yearly_store_sales OWNER TO root;

--
-- Name: ytd_cumulative_sales; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.ytd_cumulative_sales AS
 WITH monthly AS (
         SELECT landing_sales.store,
            date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone) AS sale_month,
            sum(landing_sales.weekly_sales) AS monthly_total_sales
           FROM public.landing_sales
          GROUP BY landing_sales.store, (date_trunc('month'::text, (landing_sales.sale_date)::timestamp with time zone))
        )
 SELECT monthly.store,
    monthly.sale_month,
    monthly.monthly_total_sales,
    sum(monthly.monthly_total_sales) OVER (PARTITION BY monthly.store, (date_trunc('year'::text, monthly.sale_month)) ORDER BY monthly.sale_month ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS ytd_sales
   FROM monthly
  ORDER BY monthly.store, monthly.sale_month;


ALTER VIEW public.ytd_cumulative_sales OWNER TO root;

--
-- Data for Name: landing_sales; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: metricflow_time_spine; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: monthly_store_sales; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: yearly_store_sales; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.yearly_store_sales (sale_year, yearly_total_sales, yoy_growth_pct) FROM stdin;
2010-01-01	2288886120.41	-6.51
2011-01-01	2448200007.35	22.40
2012-01-01	2000132859.35	\N
\.


--
-- Name: landing_sales landing_sales_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.landing_sales
    ADD CONSTRAINT landing_sales_pkey PRIMARY KEY (id);


--
-- Name: landing_sales landing_sales_store_sale_date_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.landing_sales
    ADD CONSTRAINT landing_sales_store_sale_date_key UNIQUE (store, sale_date);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: root
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

